
@{
    ViewData["Title"] = "aboutUS";
}

<h2>AboutUS</h2>
<ul>
    <li>
        We spent more than 48 hours to learn IEX Trading API, the MVC applications, EF frame and Chart.js through delving into the original project provide on the Github below
        <a href="https://github.com/ISM6225/2018_Fall_Assignment4_ActiveCloudSite">https://github.com/ISM6225/2018_Fall_Assignment4_ActiveCloudSite</a>
        </a>
    <li>
        we master how to exploit MVC frame to develop application and known that chart.js has lots of properties that could help us show the information easily.
    </li>
    <li>
        We spent another 48 hours to study the stock recommendation strategy and accomplished recommendation function.
    </li>
    <li>
        We took 52-Week Price Range Recommendation Strategy:
        <br />
        A simple way to measure price momentum is to consider the proximity of a stock to its 52-week high or low.
        <br />
        The formula I used for this was current price minus 52-week low divided by 52-week high minus 52-week low.
        <br />
        Stocks that score 82% or higher on this formula tend to outperform, while stocks that score 41% or lower
        <br />
        tend to underperform.
    </li>
    <li>
        The project was uploaded to Github:<a href="https://github.com/qing2qi/finalProject">https://github.com/qing2qi/finalProject</a>
    </li>
    <li>
        The project was deployed to Azure:<a href="https://github.com/qing2qi/finalProject">https://github.com/qing2qi/finalProject</a>
    </li>
</ul>